{% load static %} 

<!-- templates/base.html -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Project kitchen{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href = "{% static 'css/style.css' %}"/> 
  {% block metadata %}
  {% endblock %}
  <style>
  .center {
    margin: auto;
    width: 50%;
    padding: 15px;
  }
</style>
</head>


<body>
  <main>
    <div class="center">
      <img src="{% static 'images/czapka.png' %}" alt="hat" style="width:128px;height:128px;">

    {% block home_button %}
        <div style = "position: absolute; top: 20px; left: 30px;      border: 2px solid pink"> 
        <form action="{% url 'home' %}" >
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default" id="add-btn">HOME</button>
            </span>  
        </form>
        </div>
    {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>