{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}! </h1>
  <p><a href="{% url 'kitchen' %}">Kitchen</a></p>
  <p><a href="{% url 'shopping' %}">Shopping List</a></p>
  <p><a href="{% url 'recipes' %}">Recipes</a></p>
  <p><a href="{% url 'products' %}">Products</a></p>
  

  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  
  <h1>
  
  
    {{"Create your kitchen.     "}} 
  </h1>
  
  <a href="{% url 'login' %}">Log In</a>
  <p></p>
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}