{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  
  <h4>Suggested recipes:</h4>

  <ul>
  {% for recipe in suggested_recipes %}
    <li>
      <a href='{% url "recipe" recipe.id%}'>{{ recipe.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  <h4>Recommendations:</h4>
  <ul>
    {% for recipe in recommended_recipes %}
    <li>
      <a href='{% url "recipe" recipe.id%}'>{{ recipe.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
{% else %}
  
  <h1>
    {{"Create your kitchen."}} 
  </h1>

{% endif %}
{% endblock %}